<header class="panel-cover" style="background-image: url({{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cover.jpg); background-position: center;">
    <div class="panel-main">
        <div class="panel-main__inner panel-inverted">
            <div class="panel-main__content">
            <a href="{{ SITEURL }}" title="link to home of {{ SITENAME }}">
                <img src="{{ SITEURL }}/images/{{ PROFILE_IMAGE }}" class="user-image" alt="My Profile Photo">
                <h1 class="panel-cover__title panel-title">{{ SITENAME }}</h1>
            </a>
            <hr class="panel-cover__divider">
            <p  class="panel-cover__description">{{ AUTHOR_BIO }}</p>
            <hr class="panel-cover__divider panel-cover__divider--secondary">

                <div class="navigation-wrapper">

                    <nav class="cover-navigation cover-navigation--primary">
                        <ul class="navigation">
                        <li class="navigation__item"><a href="{{ SITEURL }}/#blog" title="Blog" class="blog-button">Blog</a></li>
                       </ul>
                    </nav>

                    <nav class="cover-navigation navigation--social">
                        <ul class="navigation">

                        {% for name, link in SOCIAL %}
                                {% if name == 'envelope' %}
                                    <li class="navigation__item">
                                        <a href="mailto:{{ link }}">
                                                <i class="icon icon-mail"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="navigation__item">
                                        <a href="{{ link }}">
                                                <i class="icon icon-social-{{ name }}"></i>
                                        </a>
                                    </li>
                                {% endif %}
                        {% endfor %}
                        <li class="navigation__item">
                            <a  href="{{ FEED_ALL_RSS }}">
                                <i class="icon icon-rss"></i>
                            </a>
                        </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="panel-cover--overlay"></div>
    </div>
</header>
