<!DOCTYPE html>
<html>

{% include 'index-header.html'%}

<body>
    <span class="mobile btn-mobile-menu">
        <i class="icon icon-list btn-mobile-menu__icon"></i>
        <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i> Menu
    </span>

{% include 'body-header.html'%}

  <div class="content-wrapper">
      <div class="content-wrapper__inner">
          {% block content %}
      <div class="main-post-list">
        <ol class="post-list">
                {% for article in articles_page.object_list %}
                    <li>
                        <h2 class="post-list__post-title post-title">
                                <a href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}" title="{{ article.title }}"> {{ article.title }}</a>
                                <p class="excerpt">
                                    {{ article.summary|striptags|truncate(20) }}
                                </p>
                                <div class="post-list__meta">
                                    <time datetime="{{ article.locale_date }}" class="post-list__meta--date date">Posted {{ article.locale_date }}</time>
                                </div>
                        </h2>
                    <hr class="post-list__divider">
                    </li>
                {% endfor %}
        </ol>
        <div class="pagination">

                {% if articles_page.has_previous() %}
                {% set num = articles_page.previous_page_number() %}
                <span class="pagination-item older"><a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">Newer</a></span>
                {% else %}
                <span class="pagination-item older">Newer</span>
                {% endif %}

                {% if articles_page.has_next() %}
                <span class="pagination-item newer"><a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">Older</a></span>
                {% else %}
                <span class="pagination-item newer">Older</span>
                {% endif %}
        </div>
      </div>
{% endblock %}
      </div>

{% include 'body-footer.html'%}

{% include 'scripts.html'%}
<!--
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>
-->
  </div>
</body>
</html>
